.head {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: grey;
    border: solid 1px black;
}
.field {
    margin-left: auto;
    margin-right: auto;
    overflow : hidden;
    border: solid 1px black;
}
.counter {
    margin-left:30px;
    margin-top: 5px;
    float: left;
    width: 80px;
}
.time {
    margin-right:30px;
    margin-top: 5px;
    float: right;
}
.logo {
    display:inline-block;
    margin-right: 5%;
}
.button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#up {
    margin-left: 50%;
}
#left {
    float: left;
    margin-left: 40%;
}
#right {
    margin-left: 60%;
}
#down {
    margin-left: 50%;
}